<h3>Autor de la página</h3>
<h2>Sergio Bellido</h2>
<img src="/images/SBV.jpg" alt="Foto de Sergio" width="100">
<p id="biografia">Ingeniero en electrónica industrial. Profesional del sector industrial. Vivo y trabajo en España. Apasionado por la tecnología y el mundo del motor</p>