<input
       type="text"
       id="preg"
       placeholder="Pregunta"
       name="quiz[pregunta]"
       value="<% quiz.pregunta %>"
/><p>

<input
       type="text"
       id="preg"
       placeholder="Respuesta"
       name="quiz[respuesta]"
       value="<% quiz. pregunta %>"
/><p>


<a href="/quizes">
   <button
           type="button"
           class="form_button">
      Cancelar
   </button></a>


<input
       type="submit"
       class="form_button"
       value="Salvar"
/>