<input
       type="text"
       id="preg"
       placeholder="Pregunta"
       name="quiz[pregunta]"
       <% if (quiz.pregunta !== "Pregunta") { %>
         value="<%= quiz.pregunta %>"
       <% } %>
/><p>

<input
       type="text"
       id="preg"
       placeholder="Respuesta"
       name="quiz[respuesta]"
       <% if (quiz.respuesta !== "Respuesta") { %>
         value="<%= quiz.respuesta %>"
       <% } %>
/><p>

<select name="quiz[tema]">
   <option value="">Selecione...</option>
   <option value="Humanidades" <% if (quiz.tema==="Humanidades"){ %> selected <% } %> >Humanidades</option>
   <option value="Ocio" <% if (quiz.tema==="Ocio"){ %> selected <% } %>>Ocio</option>
   <option value="Ciencia" <% if (quiz.tema==="Ciencia"){ %> selected <% } %>>Ciencia</option>
   <option value="Tecnologia" <% if (quiz.tema==="Tecnologia"){ %> selected <% } %>>Tecnología</option>
   <option value="Otros" <% if (quiz.tema==="Otros"){ %> selected <% } %>>Otros</option>
</select>
<p>


<a href="/quizes">
   <button
           type="button"
           class="form_button">
      Cancelar
   </button></a>


<input
       type="submit"
       class="form_button"
       value="Salvar"
/>