<!DOCTYPE html>
<html>
   
   <head>
      <meta charset="utf-8">
      <title>Quiz: El juego de las preguntas y las respuestas</title>
      <link rel="stylesheet" href="../../stylesheets/style.css" />
   </head>
   
   
   <body>
      
      <h2>Quiz: El juego de las preguntas y las respuestas</h2>
   
      <p><%= respuesta %></p>
      
      <a href="/quizes/question">Inténtalo otra vez</a>

   </body>

</html>