<div class="field">
   <input type="text" id="login" name="login" placeholder="Usuario" size="30" />
</div>

<div class="field">
   <input type="password" id="password" name="password" placeholder="Contraseña" size="30" />
</div>

<div class="actions">
   <input class="form_button" name="commit" type="submit" value="Aceptar" />
</div>